@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.success {
  position: absolute;
  background-color: $main-background-color;
  border-radius: 12px;
  top: -50px;
  left: 490px;
  padding: 20px;

  & > img {
    width: 64px;
    height: 64px;
  }

  @include hideOn($mid-screen-width);
}