@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

$menu__btn_size: 30px;

.hamburgerMenu {
  display: none;
  flex-direction: column;
  background-color: #fdfdfd;

  .topPanel {
    width: 100%;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    .hamburgerButton {
      display: flex;
      align-items: center;
      position: relative;
      width: $menu__btn_size;
      height: $menu__btn_size;
      cursor: pointer;
      z-index: 1;

      span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }

      span::before {
        content: '';
        top: -8px;
      }

      span::after {
        content: '';
        top: 8px;
      }
    }

    .xButton {
      span {
        transform: rotate(45deg);
      }

      span::before {
        top: 0;
        transform: rotate(0);
      }

      span::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  .navLinks {
    position: absolute;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    height: fit-content;
    width: 100%;
    top: 100%;
    padding: 25px 40px;
    background-color: $main-background-color;
    transition-duration: .5s;

    a {
      font-family: $hamburger-font-family;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
      text-decoration: none;
      letter-spacing: 0;
      color: $secondary-color;
    }
  }

  .navLinksHide {
    visibility: hidden;
    opacity: 0;
  }

  @media screen and (max-width: $mid-screen-width) {
    & {
      display: flex;
    }
  }
}
