@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.decor {
  position: absolute;
  width: 110px;
  height: 190px;
  background-color: #142eb4;
  border-radius: 12px;
  @include hideOn($mid-screen-width);
}