@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.header {
  @include boundingContainer();
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  @media screen and (max-width: $mid-screen-width) {
    & {
      padding: 10px 20px;
      background: $main-background-color;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    border: solid 3px $work-background-color;
    border-radius: 50%;
  }

  &:after {
    content: "DevCat";
    color: $third-color;
    margin-left: 10px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }

  @media screen and (max-width: $mid-screen-width) {
    img {
      height: 26px;
    }
    &:after {
      color: $secondary-color;
    }
  }
}
