.header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: inherit;
}