@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactsContainer {
  @include oneColumnContainer(80vw, flex-start);
  background-color: $contacts-background-color;
  border-radius: $container-border-radius;
  padding: 110px 100px;
  margin: 50px 0;
  max-width: 800px;

  @media screen and (max-width: 800px) {
    & {
      padding: 50px;
    }
  }

  .title {
    letter-spacing: 0;
    font-family: $font-family-extra;
    font-weight: 600;

    & div:nth-child(1) {
      font-size: 20px;
      color: $main-color;
    }

    & div:nth-child(2) {
      font-size: 34px;
      color: $third-color;
    }
  }

  .formAndInfoContainer {
    @include boxContainer(100%, 100%, normal, normal);
    margin-top: 20px;

    @media screen and (max-width: $laptop-max-width) {
      & {
        flex-direction: column;
        align-items: center;
      }
    }
  }


}