.contactsBlock {
    background-color: palegoldenrod;
}


.contactsContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsContainer > form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 286px;
    max-width: 100%;
}