.remoteWorkBlock {
    background-color: lightyellow;
}

.remoteWorkContainer {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remoteWorkContainer > h2 {
    margin: 0 15px 10px;
    text-align: center;
}

.remoteWorkContainer > a {
    padding: 10px;
    background: limegreen;
    border-radius: 3px;
    border: 1px solid orange;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: mediumblue;
}