@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.remoteWorkContainer {
  @include oneColumnContainer(100%, space-between);
  align-content: center;
  flex-direction: column;
  padding: 100px 10%;

  h2 {
    @include titleText(20px, $secondary-color);
    margin: 0 15px 10px;
    text-align: center;
  }

  a {
    padding: 10px;
    background: limegreen;
    border-radius: 3px;
    border: 1px solid orange;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: mediumblue;
  }
}