@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skill {
  @include oneColumnContainer(240px, center);
  background-color: transparent;
  padding: 10px;

  .icon {
    color: $contacts-background-color;
    font-size: 48px;
  }

  .title {
    @include titleText(18px, $secondary-color)
  }

  .description {
    @include regularText();
    text-align: justify;
  }
}