@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.projects {
  display: flex;
  justify-content: center;
  margin-bottom: 155px;
  margin-top: 77px;

  @media screen and (max-width: $mid-screen-width) {
    & {
      margin-bottom: 115px;
      flex-direction: column;
      align-items: center;
    }
  }
}