@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.navbar {
  display: flex;
  justify-content: space-between;

  a {
    @include navText($nav-text-color);
    width: 100%;
    padding: 0.5em;
    word-wrap: break-word;
    cursor: pointer;
  }
}