.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    padding: 0.5em;
    width: 100%;
    font-family: var(--font-family-main);
    font-size: 18px;
    color: var(--dark-text-color);
    line-height: 1.6;
    letter-spacing: 0;
    word-wrap: break-word;
    font-weight: 400;
    cursor: pointer;
}