@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skills {
  margin-bottom: 190px;
  @media screen and (max-width: $mid-screen-width) {
    & {
      margin-bottom: 150px;
    }
  }

  .content {
    margin-top: 77px;
  }
}