.main {
    background-color: palegoldenrod;
    height: 100vh;
}

.text {
    width: 300px;
    background-color: white;
}

.photo {
    width: 100%;
    max-width: 300px;
    background-color: gold;
}