@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainContainer {
  @include fullScreenContainer(center, center);
  background-image: url("../assets/main-background.jpg");

  .text {
    word-break: break-word;
    text-align: center;
    margin: 10px;
  }

  .hello {
    @include titleText(18px, $third-color);
    margin: 0;
  }

  .name {
    @include titleText(35px, $third-color);
    margin-bottom: 14px;
  }

  .job {
    @include titleText(18px, $third-color);
    margin-bottom: 15px;
  }

  .photo {
    width: 100%;
    max-width: 200px;

    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
  }
}