.main {
    background-color: palegoldenrod;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 300px;
    background-color: white;
}

.photo {
    width: 100%;
    max-width: 300px;
    background-color: gold;
}