@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  .icon {
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-color: #6e7fd1;
  }

  .info {
    margin-left: 25px;

    .title {
      @include titleText(21px, $third-color);
      margin-bottom: 6px;
    }

    .content {
      @include regularText();
      color: $second-text-color;
    }
  }

}