@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.navbar {
  padding: 0 10%;

  .laptopNavbar {
    display: none;
    justify-content: right;

    button {
      font-size: 28px;
      padding: 5px 0 2px;
    }
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: right;

    a {
      @include navText($nav-text-color);
      width: fit-content;
      padding: 0.5em;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $laptop-max-width) {
    .laptopNavbar {
      display: flex;
    }
    .desktopNavbar {
      display: none;
    }
    nav {
      flex-direction: column;
      align-items: flex-end;

      a {
        font-size: x-large;
        padding: 5px;
      }
    }
  }
}