@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.project {
  display: flex;
  flex-direction: column;
  width: $project-card-width;
  height: $project-card-width;
  overflow: hidden;
  background-size: $project-card-width $project-card-width;

  .title {
    width: 100%;
    text-align: left;
    font-family: $font-family-extra;
    color: $main-color;
    font-size: 16px;
    font-weight: 600;
  }

  .description {
    width: 100%;
    text-align: left;
    font-family: $font-family-extra;
    color: $secondary-color;
    font-size: 19px;
    font-weight: 600;
    transition: color 0.3s;

    &:hover {
      color: $main-color;
      transition: color 0.3s;
    }
  }

  .image {
    width: 100%;
    height: $project-card-height;
    object-fit: cover;
    overflow: hidden;
    border-radius: 13px;
    margin-bottom: 20px;
    background-size: $project-card-width $project-card-height;
    background-position: center;
    transition: background-size 0.3s;

    &:hover {
      transition: background-size 0.3s;
      background-position: center;
      background-size: $project-card-width*1.1 $project-card-height*1.1;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    background: $work-background-color;
    text-align: center;

  }

}