@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: $card-width;
  height: $card-width;
  border-radius: $container-border-radius;
  margin: 10px;
  overflow: hidden;
  background-size: $card-width $card-width;
  display: flex;
  flex-direction: column;


  .title {
    width: 100%;
    height: fit-content;
    background: $work-background-color;
    text-align: center;
    @include titleText(18px, $third-color);
  }

  .image {
    width: 100%;
    height: 100%;
    background-size: $card-width $card-width;
  }

  .links {
    display: flex;
    justify-content: center;
    background: $work-background-color;
    text-align: center;

    .deployment {
      padding: 5px 0;
      width: 50%;
      @include iconLink(30px, transparent);
      border-radius: 0;

      &:hover {
        color: $work-background-color;
        background: $contacts-background-color;
      }
    }

    .repository {
      padding: 5px 0;
      width: 50%;
      @include iconLink(30px, transparent);
      border-radius: 0;

      &:hover {
        color: $work-background-color;
        background: $contacts-background-color;
      }
    }
  }

  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

  &:hover {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}