$font-family-main: "Open Sans", sans-serif;
$font-family-extra: Barlow, sans-serif;
$hamburger-font-family: Jost, sans-serif;

$main-color: #fb503b;
$secondary-color: #000;
$third-color: #fff;

$work-background-color: #6c7cd1;
$contacts-background-color: #0b1c76;
$main-background-color: #fdfdfd;
$regular-text-color: #54545f;
$second-text-color: #b7bac5;

$nav-text-color: $secondary-color;
$line-color: #777;

$container-border-radius: 20px;

$min-screen-width: 840px;
$mid-screen-width: 1040px;
$max-screen-width: 1360px;

$max-project-width: 423px;
$max-project-height: 292px;

$mid-project-width: 326px;
$mid-project-height: 225px;

$min-project-width: 487px;
$min-project-height: 336px;
