$font-family-main: "Open Sans", sans-serif;
$font-family-extra: "Barlow", sans-serif;

$main-color: #fb503b;
$secondary-color: #000;
$third-color: #fff;

$work-background-color: #6c7cd1;
$contacts-background-color: #0b1c76;
$main-background-color: #fdfdfd;
$regular-text-color: #54545f;
$second-text-color: #b7bac5;

$nav-text-color: $secondary-color;
$line-color: #777;

$container-border-radius: 20px;

$laptop-max-width: 600px;
$card-width: 240px;
