.projectsBlock {
    background-color: lightyellow;
    min-height: 100vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}